<header class="py-2.5 px-5 lg:px-8 shadow-sm z-10">
  <div class="container mx-auto flex justify-between items-center lg:justify-normal max-w-7xl mx-auto">
    <div class="flex items-center">
      <a href="/">
        <img src="{{ site.baseurl }}/assets/images/seo_pages/logo-dark.png" alt="Growth Nirvana" class="h-10">
      </a>
    </div>

    <div class="w-4/5 justify-end hidden lg:flex">
      <div class="gap-4 flex flex-row">
        {% for item in site.data.navigation %}
          <div class="flex flex-col justify-center group">
            <p class="text-gray-800 font-semibold">{{ item.name }}</p>

            <div class="opacity-0 hidden group-hover:block group-hover:opacity-100 absolute top-14 bg-white shadow-md rounded">
              <div class="p-3 flex flex-col gap-4">
                {% for link in item.links %}
                  {% if link.url %}
                    <a href="{{ link.url }}" class="text-gray-800 font-semibold">{{ link.name }}</a>
                  {% else %}
                    <p class="font-bold">{{ link.name }}</p>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}

        {% include_cached calendly_link.html class="btn btn-primary text-base hidden lg:flex" utm_content=page.permalink %}
      </div>
    </div>

    <div class="lg:hidden">
      <button type="button" class="lg:hidden inline-flex items-center justify-center pt-2.5 rounded-md text-gray-700" onclick="toggleMobileMenu()">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
      <div id="mobile-menu" class="hidden group-focus:block lg:hidden" role="dialog" aria-modal="true">
        <div class="fixed inset-0 z-10"></div>
        <div class="fixed top-0 right-0 z-10 w-full h-full overflow-y-auto bg-white py-2.5 px-5 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
          <div class="flex items-center justify-between">
            <a href="/">
              <img src="{{ site.baseurl }}/assets/images/seo_pages/logo-dark.png" alt="Growth Nirvana" class="h-10">
            </a>
            <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" onclick="toggleMobileMenu()">
              <span class="sr-only">Close menu</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
              <div class="space-y-6 py-6">
                {% for item in site.data.navigation %}
                  <div class="flex flex-col justify-center group" tabindex="{{ forloop.index }}">
                    <p class="text-gray-800 font-semibold group-focus:underline group-focus:text-primary">{{ item.name }}</p>
                    <div class="opacity-0 hidden group-focus:block group-focus:opacity-100">
                      <div class="px-3 py-1 flex flex-col">
                        {% for link in item.links %}
                          {% if link.url %}
                          <a href="{{ link.url }}" class="-mx-3 block rounded-lg px-3 py-2 text-sm leading-7 text-gray-900 hover:bg-gray-50">{{ link.name }}</a>
                          {% else %}
                          <p class="-mx-3 block rounded-lg px-3 py-2 text-sm leading-7 text-gray-900 hover:bg-gray-50">{{ link.name }}</p>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <div class="py-6">
                {% include_cached calendly_link.html class="btn btn-primary flex justify-center text-base" utm_content=page.permalink %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
